<script lang="ts">
import { useAthleteListStore } from '../stores/athleteList'
import { mapStores } from 'pinia'

export default {
    computed: {
    ...mapStores(useAthleteListStore)
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Athletes</h3>
    <span class="fst-italic fw-light" v-if="athleteListStore.items.length == 0">No results</span>
    <RouterLink :to="'/athlete/' + athlete.athleteid" class="row card w-100 d-flex flex-row p-2 mb-2 link text-dark" v-for="athlete in athleteListStore.items">
        <div class="col-3">
            <div class="row">
                <span class="fw-bold">First name:</span>
            </div>
            <div class="row">
                <span class="fw-bold">Last name:</span>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <span>{{ athlete.firstname }}</span>
            </div>
            <div class="row">
                <span>{{ athlete.lastname }}</span>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <span class="fw-bold">Birthday:</span>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <span>{{ new Date(athlete.birthday).toLocaleDateString() }}</span>
            </div>
        </div>
    </RouterLink>
</template>
<style scoped>
.link {
    text-decoration: none;
}
.link:hover {
     background-color: rgba(0, 0, 0, 0.05);
}
</style>