<script lang="ts">

export default {
    data() {
        return {
        };
    },
    methods: {
        navigateToEdit() {
            this.$router.push(this.$route.path +  "/edit")
        },
        navigateBack() {
            this.$router.back()
        },
        async del() {
            let check = confirm("Athlete and all their results will be deleted!")
            if(check) {
                await fetch("/api/athlete/" + this.$route.params.id, {
                    method: "DELETE"
                })
                this.$router.push("/")
            }
        }
    },
    computed: {
        isEdit() {
            return this.$route.path.includes("edit");
        }
    }
}
</script>

<template>
    <button type="button" class="btn btn-warning mb-1" @click="navigateToEdit()" v-if="!isEdit">Edit</button>
    <button type="button" class="btn btn-warning mb-1" @click="navigateBack()" v-if="isEdit">Return</button>
    <button type="button" class="btn btn-danger mt-1" @click="del()">Delete</button>
</template>