<script lang="ts">

type Results = {note: string, discipline: string, score: number | null, unit: string | null, time: string | null, resultid: number}

export default {
    data() {
        return {
            results: [] as Results[], 
            editEnabled: {} as {[key: number]: boolean},
            newResultId: -1
        };
    },
    methods: {
        async save(id: number) {
            let disciplineElement = this.$refs['discipline_' + id] as HTMLSpanElement[];
            let scoreElement = this.$refs['value_' + id] as HTMLSpanElement[];
            let noteElement = this.$refs['note_' + id] as HTMLSpanElement[];

            let discipline = disciplineElement[0].innerText?.trim();
            let score = scoreElement[0].innerText?.trim();
            let note = noteElement[0].innerText?.trim();

            let data: any = {
                note: note,
                discipline: discipline,
                resultid: id
            }

            if(score?.split(" ").length! >= 2) {
                data["score"] = parseInt(score?.split(" ")[0]!);
                data["unit"] = score?.split(" ")[1];
            } else
                data["time"] = score;

            await fetch("/api/athlete/" + this.$route.params.id + "/results", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })

            this.editEnabled[id] = false;
        },

        addResultEntry() {
            this.results.push({
                discipline: "Disciplien",
                note: "Note",
                time: "00:00:00.00",
                score: null,
                unit: null,
                resultid: this.newResultId
            });
            this.editEnabled[this.newResultId--] = true;
        },
        async del(id: number) {
            let check = confirm("Result will be deleted!")
            if(check) {
                await fetch("/api/athlete/" + this.$route.params.id + "/result/" + id, {
                    method: "DELETE"
                })
                let ind = this.results.findIndex(r => r.resultid == id);
                this.results.splice(ind, 1);
            }
        }
    },
    async created() {
        let res = await fetch("/api/athlete/" + this.$route.params.id + "/results")
        if(res.status == 200) {
            let data: Results[] = await res.json();
            data.forEach(r => {
                this.results.push({...r});
                this.editEnabled[r.resultid] = false;
            });
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Results</h3>
    <div class="row w-100 position-relative" v-for="result in results">
        <div class="col-12">
            <span class="fw-bold" :contenteditable="editEnabled[result.resultid]" :ref="'discipline_' + result.resultid">{{ result.discipline }}</span>
        </div>
        <div class="offset-1 col-11">
            <span :contenteditable="editEnabled[result.resultid]" :ref="'value_' + result.resultid">{{ result.score ? result.score + " " + result.unit : result.time }}</span>
        </div>
        <div class="offset-1 col-11">
            <span class="fst-italic" :contenteditable="editEnabled[result.resultid]" :ref="'note_' + result.resultid">{{ result.note || "&nbsp;" }}</span>
        </div>
        <div class="controls">
            <button type="button" class="btn btn-warning me-1" v-if="!editEnabled[result.resultid]" @click="editEnabled[result.resultid] = true">Edit</button>
            <button type="button" class="btn btn-success me-1" v-if="editEnabled[result.resultid]" @click="save(result.resultid)">Save</button>
            <button type="button" class="btn btn-danger" @click="del(result.resultid)">Delete</button>
        </div>
    </div>

    <button type="button" class="btn btn-info" @click="addResultEntry()">Add result</button>
    
</template>

<style scoped>
.controls {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}
</style>