<script lang="ts">
import Club from '@/model/Club';

type ClubAthlete = Club & {memberfrom: Date, memberto: Date | null}

export default {
    data() {
        return {
            clubs: [] as ClubAthlete[]
        };
    },
    async created() {
        let res = await fetch("/api/athlete/" + this.$route.params.id + "/clubs")
        if(res.status == 200) {
            let data: ClubAthlete[] = await res.json();
            data.forEach(c => {
                this.clubs.push({
                    clubname: c.clubname,
                    clubprefix: c.clubprefix,
                    sportid: c.sportid,
                    clubid: c.clubid,
                    memberfrom: new Date(c.memberfrom),
                    memberto: c.memberto ? new Date(c.memberto) : null
                })
            });
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Clubs</h3>
    <div class="row w-100" v-for="club in clubs">
        <div class="col-12">
            <span class="fw-bold">{{ club.clubprefix + " " + club.clubname }}</span>
        </div>
        <div class="offset-1 col-4">
            <span>{{ "From: " + club.memberfrom.toLocaleDateString() }}</span>
        </div>
        <div class="offset-1 col-4">
            <span>{{ "To: " + (club.memberto ? club.memberto.toLocaleDateString() : "Still a member") }}</span>
        </div>
    </div>
    
</template>