<script lang="ts">
import Athlete from '@/model/Athlete';
import { useAthleteListStore } from '../stores/athleteList'
import { mapStores } from 'pinia'

export default {
    data() {
        return {
            athlete: undefined as any
        };
    },
    async created() {
        let res = await fetch("/api/athlete/" + this.$route.params.id)
        if(res.status == 200) {
            let data: Athlete[] = await res.json();
            this.athlete = new Athlete(data[0].firstname, data[0].lastname, data[0].birthday, data[0].athleteid)
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Personal information</h3>
    <div class="row w-100">
        <div class="col-3">
            <span class="fw-bold">First name:</span>
        </div>
        <div class="col">
            <span>{{ athlete.firstname }}</span>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-3">
            <span class="fw-bold">Last name:</span>
        </div>
        <div class="col">
            <span>{{ athlete.lastname }}</span>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-3">
            <span class="fw-bold">Birthday:</span>
        </div>
        <div class="col">
            <span>{{ athlete.birthday.toLocaleDateString() }}</span>
        </div>
    </div>
    
</template>