<script lang="ts">
import Athlete from '@/model/Athlete';
import Club from '@/model/Club';

type AthleteClub = Athlete & Club;

export default {
    data() {
        return {
            athlete: undefined as any,
            clubs: [] as Club[],
            vaidClub: true
        };
    },
    methods: {
        async save() {
            let firstname = (this.$refs.firstName as HTMLInputElement).value;
            let lastname = (this.$refs.lastName as HTMLInputElement).value;
            let birthday = (this.$refs.birthday as HTMLInputElement).value;
            let club = (this.$refs.club as HTMLInputElement).value;

            let data1 = {
                firstname,
                lastname,
                birthday,
            }

            let data2 = {
                clubid: club
            }

            let res1 = await fetch("/api/athlete/" + this.$route.params.id, {
                method: "POST",
                body: JSON.stringify(data1),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if(club !== this.athlete.clubid) {
                let res2 = await fetch("/api/athlete/" + this.$route.params.id + "/club", {
                    method: "POST",
                    body: JSON.stringify(data2),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });

                if(res2.status == 403)
                    this.vaidClub = false;
            }

        }
    },
    async created() {
        let res1 = await fetch("/api/athlete/" + this.$route.params.id);
        let res2 = await fetch("/api/athlete/" + this.$route.params.id + "/club");
        if(res1.status == 200 && res2.status == 200) {
            let data1: Athlete[] = await res1.json();
            let data2: Club[] = await res2.json();
            this.athlete = {
                ...data1[0],
                ...data2[0],
            }
        }

        let res = await fetch("/api/clubs");
        if(res.status == 200) {
            let data: Club[] = await res.json();
            data.forEach(c => {
                this.clubs.push(
                    {...c}
                )
            });
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Personal information</h3>
    <div class="row w-100 align-items-center mb-1">
        <div class="col-3">
            <span class="fw-bold">First name:</span>
        </div>
        <div class="col">
            <input type="text" class="form-control" :value="athlete.firstname" ref="firstName" />
        </div>
    </div>
    <div class="row w-100 align-items-center mb-1">
        <div class="col-3">
            <span class="fw-bold">Last name:</span>
        </div>
        <div class="col">
            <input type="text" class="form-control" :value="athlete.lastname" ref="lastName" />
        </div>
    </div>
    <div class="row w-100 align-items-center mb-1">
        <div class="col-3">
            <span class="fw-bold">Birthday:</span>
        </div>
        <div class="col">
            <input type="date" class="form-control" :value="new Date(athlete.birthday).toISOString().split('T')[0]"  ref="birthday"/>
        </div>
    </div>
    <div class="row w-100 align-items-center mb-1">
        <div class="col-3">
            <span class="fw-bold">Club:</span>
        </div>
        <div class="col">
            <select name="clubs" class="form-control" ref="club" @change="vaidClub=true">
                <option :value="club.clubid" v-for="club in clubs" :selected="club.clubid == athlete.clubid">{{ club.clubprefix + " " + club.clubname }}</option>
            </select>
        </div>
    </div>
    <div class="row w-100 align-items-center mb-1">
        <div class="offset-3 col">
            <span v-if="!vaidClub" class="text-warning">Invalid Club</span>
        </div>
    </div>
    <div class="row w-100">
        <div class="offset-10 col-2">
            <button type="button" class="btn btn-success w-100" @click="save()">Save</button>
        </div>
    </div>
    
</template>