<script lang="ts">
import type Competition from '@/model/Competition';

export default {
    data() {
        return {
            competitions: [] as Competition[]
        };
    },
    async created() {
        let res = await fetch("/api/athlete/" + this.$route.params.id + "/competitions")
        if(res.status == 200) {
            let data: Competition[] = await res.json();
            data.forEach(c => {
                this.competitions.push({...c})
            });
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Competitions</h3>
    <div class="row w-100" v-for="competition in competitions">
        <div class="col-12">
            <span class="fw-bold">{{ competition.competitionname }}</span>
        </div>
        <div class="offset-1 col-4">
            <span>{{ "From: " + new Date(competition.starttime).toLocaleDateString() }}</span>
        </div>
        <div class="offset-1 col-4">
            <span>{{ "To: " + new Date(competition.endtime).toLocaleDateString() }}</span>
        </div>
    </div>
    
</template>