<script lang="ts">

type Results = {note: string, discipline: string, score: number | null, unit: string | null, time: string | null}

export default {
    data() {
        return {
            results: [] as Results[]
        };
    },
    async created() {
        let res = await fetch("/api/athlete/" + this.$route.params.id + "/results")
        if(res.status == 200) {
            let data: Results[] = await res.json();
            data.forEach(r => {
                this.results.push({...r})
            });
        }
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Results</h3>
    <div class="row w-100" v-for="result in results">
        <div class="col-12">
            <span class="fw-bold">{{ result.discipline }}</span>
        </div>
        <div class="offset-1 col-11">
            <span>{{ result.score ? result.score + " " + result.unit : result.time }}</span>
        </div>
        <div class="offset-1 col-11">
            <span class="fst-italic">{{ result.note }}</span>
        </div>
    </div>
    
</template>