<script lang="ts">
import { useClubListStore } from '../stores/clubList'
import { mapStores } from 'pinia'

export default {
    computed: {
    ...mapStores(useClubListStore,)
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Clubs</h3>
    <span class="fst-italic fw-light" v-if="clubListStore.items.length == 0">No results</span>
    <RouterLink :to="'/club/' + club.clubid" class="row card w-100 d-flex flex-row p-2 mb-2 link text-dark" v-for="club in clubListStore.items">
        <div class="offset-2 col-8 text-center fs-5">
            <span>{{ club.clubprefix + " " + club.clubname }}</span>
        </div>
    </RouterLink>
</template>
<style scoped>
.link {
    text-decoration: none;
}
.link:hover {
     background-color: rgba(0, 0, 0, 0.05);
}
</style>