<script lang="ts">
import { useCompetitionListStore } from '../stores/competitionList'
import { mapStores } from 'pinia'

export default {
    computed: {
    ...mapStores(useCompetitionListStore,)
    }
}
</script>

<template>
    <h3 class="m-2 fw-bold">Competitions</h3>
    <span class="fst-italic fw-light" v-if="competitionListStore.items.length == 0">No results</span>
    <RouterLink :to="'/competition/' + competition.competitionid" class="row card w-100 d-flex flex-row p-2 mb-2 link text-dark" v-for="competition in competitionListStore.items">
        <div class="offset-2 col-8 text-center">
            <div class="row">
                <span class="fs-5">{{ competition.competitionname }}</span>
            </div>
            <div class="row text-center">
                <div class="offset-2 col-3">
                    <span>{{ new Date(competition.starttime).toLocaleDateString() }}</span>
                </div>
                <div class="col-3">
                    <span>-</span>
                </div>
                <div class="col-3">
                    <span>{{ new Date(competition.endtime).toLocaleDateString() }}</span>
                </div>
            </div>
        </div>
    </RouterLink>
</template>

<style scoped>
.link {
    text-decoration: none;
}
.link:hover {
     background-color: rgba(0, 0, 0, 0.05);
}
</style>