<script lang="ts">
import type Club from '@/model/Club';

export default {
    data() {
        return {
            clubs: [] as Club[],
            validInput: true
        };
    },
    methods: {
        async create() {
            this.validInput = true;

            let firstname = (this.$refs.firstName as HTMLInputElement).value;
            let lastname = (this.$refs.lastName as HTMLInputElement).value;
            let birthday = (this.$refs.birthday as HTMLInputElement).value;
            let club = (this.$refs.club as HTMLInputElement).value;

            let data = {
                firstname,
                lastname,
                birthday,
                clubid: club
            }

            let res = await fetch("/api/athletes", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if(res.status >= 400)
                this.validInput = false
        }
    },
    async created() {
        let res = await fetch("/api/clubs");
        if(res.status == 200) {
            let data: Club[] = await res.json();
            data.forEach(c => {
                this.clubs.push(
                    {...c}
                )
            });
        }
    }
}
</script>

<template>
    <h4>Create new Athlete</h4>
    <div class="card p-3">
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">First name:</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" ref="firstName" @change="validInput = true" />
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Last name:</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" ref="lastName" @change="validInput = true" />
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Birthday:</span>
            </div>
            <div class="col">
                <input type="date" class="form-control" ref="birthday" @change="validInput = true"/>
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Club:</span>
            </div>
            <div class="col">
                <select name="clubs" class="form-control" ref="club" @change="validInput = true">
                    <option :value="club.clubid" v-for="club in clubs">{{ club.clubprefix + " " + club.clubname }}</option>
                </select>
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="offset-3 col">
                <span v-if="!validInput" class="text-warning">Invalid input</span>
            </div>
        </div>
        <div class="row w-100">
            <div class="offset-10 col-2">
                <button type="button" class="btn btn-success w-100" @click="create()">Create</button>
            </div>
        </div>
    </div>
</template>