<script lang="ts">
import type Club from '@/model/Club';

export default {
    data() {
        return {
            clubs: [] as Club[],
            validInput: true
        };
    },
    methods: {
        async create() {
            this.validInput = true;

            let clubprefix = (this.$refs.clubPrefix as HTMLInputElement).value;
            let clubname = (this.$refs.clubName as HTMLInputElement).value;
            let clubid = (this.$refs.clubId as HTMLInputElement).value;

            let data = {
                clubprefix,
                clubname,
                clubid
            }

            let res = await fetch("/api/clubs", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            });
            
            if(res.status >= 400)
                this.validInput = false
        }
    },
    async created() {
        let res = await fetch("/api/clubs");
        if(res.status == 200) {
            let data: Club[] = await res.json();
            data.forEach(c => {
                this.clubs.push(
                    {...c}
                )
            });
        }
    }
}
</script>

<template>
    <h4>Create new Club</h4>
    <div class="card p-3">
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Club prefix:</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" ref="clubPrefix" @change="validInput = true" />
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Club name:</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" ref="clubName" @change="validInput = true" />
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="col-3">
                <span class="fw-bold">Short name:</span>
            </div>
            <div class="col">
                <input type="text" class="form-control" ref="clubId" @change="validInput = true" />
            </div>
        </div>
        <div class="row w-100 align-items-center mb-1">
            <div class="offset-3 col">
                <span v-if="!validInput" class="text-warning">Invalid input</span>
            </div>
        </div>
        <div class="row w-100">
            <div class="offset-10 col-2">
                <button type="button" class="btn btn-success w-100" @click="create()">Create</button>
            </div>
        </div>
    </div>
</template>