<script lang="ts">
export default {
    methods: {
        redirectTo(dest: string) {
            this.$router.push('/create/' + dest);
        }
    }
}
</script>

<template>
    <div class="row">
        <button class="btn col m-2 btn-success" @click="redirectTo('athlete')">Athlete</button>
        <button class="btn col m-2 btn-success" @click="redirectTo('club')">Club</button>
        <button class="btn col m-2 btn-success" @click="redirectTo('competition')" disabled>Competition</button>
    </div>
</template>