<script lang="ts">
import MagnifyingGlassSolid from './icons/MagnifyingGlassSolid.vue';
import { useAthleteListStore } from '../stores/athleteList'
import { useClubListStore } from '../stores/clubList'
import { useCompetitionListStore } from '../stores/competitionList'
import { mapStores } from 'pinia'

export default {
    computed: {
    ...mapStores(useAthleteListStore, useClubListStore, useCompetitionListStore)
    },
    data() {
        return {
        };
    },
    methods: {
        search(e: Event) {
            if(this.athleteListStore.status)
                this.athleteListStore.search((this.$refs.searchbar as HTMLInputElement).value)
            if(this.clubListStore.status)
                this.clubListStore.search((this.$refs.searchbar as HTMLInputElement).value)
            if(this.competitionListStore.status)
                this.competitionListStore.search((this.$refs.searchbar as HTMLInputElement).value)
            this.$router.push("/search-list")
        },
    },
    components: {MagnifyingGlassSolid}
}
</script>

<template>
    <div class="input-group mb-3">
        <input type="text" class="form-control" @keypress.enter="$event => search($event)" ref="searchbar">
        <button class="btn btn-success" type="button" style="min-width: 48px;" @click="$event => search($event)"><MagnifyingGlassSolid style="filter: invert(100%);"></MagnifyingGlassSolid></button>
    </div>
    <div class="row">
        <button class="btn col m-2" :class="{ 'btn-success': athleteListStore.status, 'btn-danger': !athleteListStore.status}" @click="athleteListStore.toggleActive()">Athlete</button>
        <button class="btn col m-2" :class="{ 'btn-success': clubListStore.status, 'btn-danger': !clubListStore.status}" @click="clubListStore.toggleActive()">Club</button>
        <button class="btn col m-2" :class="{ 'btn-success': competitionListStore.status, 'btn-danger': !competitionListStore.status}" @click="competitionListStore.toggleActive()">Competition</button>
    </div>
</template>