<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import SearchView from './views/SearchView.vue'
import CreateControlView from './views/CreateControlView.vue'
</script>

<template>
  <!-- <header>
    <div>
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div>
  </header> -->
  <header class="container mt-3 mb-3">
    <SearchView></SearchView>
  </header>
  <div class="container mt-4">
    <RouterView />
  </div>
  <div class="container mt-4">
    <CreateControlView />
  </div>
</template>
