<script setup lang="ts">
import { useAthleteListStore } from '@/stores/athleteList';
import AthleteDetail from '../components/AthleteDetail.vue'
import AthleteResults from '../components/AthleteResults.vue'
import AthleteClubs from '../components/AthleteClubs.vue'
import AthleteCompetitions from '../components/AthleteCompetitions.vue'
import AthleteControls from '../components/AthleteControls.vue'
import { useClubListStore } from '@/stores/clubList';
import { useCompetitionListStore } from '@/stores/competitionList';

const athleteList = useAthleteListStore();
const clubList = useClubListStore();
const competitionList = useCompetitionListStore();
</script>

<template>
    <div class="row w-100">
        <div class="offset-2 col-8 d-flex flex-column justify-content-center align-items-center">
            <AthleteDetail />
            <hr class="w-100">
            <AthleteResults />
            <hr class="w-100">
            <AthleteClubs />
            <hr class="w-100">
            <AthleteCompetitions />
            <hr class="w-100">
        </div>
        <div class="col-2 d-flex flex-column justify-content-spacebetwene">
            <AthleteControls />
        </div>
    </div>
</template>
