<script setup lang="ts">
import CreateClub from '../components/CreateClub.vue'
</script>

<template>
    <main class="row">
        <div class="offset-2 col-8">
            <CreateClub />
        </div>
    </main>
</template>
