<script setup lang="ts">
import CreateControls from '../components/CreateControls.vue'
</script>

<template>
    <main class="row">
        <div class="offset-2 col-8">
            <h4>Create new</h4>
            <CreateControls />
        </div>
    </main>
</template>
