<script setup lang="ts">
import CreateAthlete from '../components/CreateAthlete.vue'
</script>

<template>
    <main class="row">
        <div class="offset-2 col-8">
            <CreateAthlete />
        </div>
    </main>
</template>
