<script setup lang="ts">
import { useAthleteListStore } from '@/stores/athleteList';
import AthleteList from '../components/AthleteList.vue'
import ClubList from '../components/ClubList.vue'
import CompetitionList from '../components/CompetitionList.vue'
import { useClubListStore } from '@/stores/clubList';
import { useCompetitionListStore } from '@/stores/competitionList';

const athleteList = useAthleteListStore();
const clubList = useClubListStore();
const competitionList = useCompetitionListStore();
</script>

<template>
    <div class="row">
        <div class="offset-2 col-8 d-flex flex-column justify-content-center align-items-center">
            <AthleteList v-if="athleteList.status" />
            <ClubList v-if="clubList.status"/>
            <CompetitionList v-if="competitionList.status"/>
        </div>
    </div>
</template>
