<script setup lang="ts">
import Search from '../components/Search.vue'
</script>

<template>
    <main class="row">
        <div class="offset-2 col-8">
            <Search />
        </div>
    </main>
</template>
